{% extends('base.html.twig') %}

{% block title %}

<title>Product Lines</title>

{% endblock %}

{% block stylesheets %} ... {% endblock %}
{% block body %} <h1>Products Lines</h1>
    <table class = "table table-hover"> 
        <thead>
            <tr>
                <th>#</th>
                <th>productLine </th>
                <th>textDescription </th>
                <th>htmlDescription </th>
                <th>image </th>
                <th>Editar </th>
                <th>Eliminar </th>
            </tr>
        </thead>
        <tbody>
            {% for productlines in lista %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ productlines.productLine }}</td>
                    <td>{{ productlines.textDescription }}</td>
                    <td>{{ productlines.htmlDescription }}</td>
                    <td>{{ productlines.image }}</td>
                    <td>
                        <button class="btn btn-outline-warning">Editar</button>
                        
                        
                    </td>
                    <td>
                        
                        <button class="btn btn-outline-danger">Eliminar</button>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}